.single-blog-page {
	background: #f3f7f9;

	box-sizing: border-box;
	position: relative;
	top: -400px;


}

.widget-area55 {
	position: relative;
	right: -200px;
	width: 40%;
}

.col-lgg-8 {
	position: relative;
	margin-left: 200px;
	width: 50%;
	text-decoration: none;
}

.col-lgg-4 {
	width: 10%;
	padding-left: 100px;
	position: relative;
	top: 35px;
	right: -300px;



}





.blog-thumb {
	margin-bottom: 0;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	left: -39px;

}

.blog-text {
	text-decoration: none;
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
	box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
}

.hedhi {
	width: 40%;
	position: relative;
	right: -800px;
	top: -4300px;
}

.blog-text .post-date {
	font-size: 14px;
	font-family: "Futura", sans-serif;
	color: #16d0c5;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: block;
	letter-spacing: 2px;
}

.blog-text .blog-title {
	text-decoration: none;

	font-size: 22px;
	margin-bottom: 20px;
}

.blog-text .blog-title a {
	text-decoration: none;

	text-decoration: none;

	color: #20509e;
}

.blog-text .post-meta a {
	font-size: 13px;
	color: #75849a;
	margin-right: 25px;
}

.blog-text .post-meta a:last-child {
	margin-right: 0;
}

.blog-text .post-meta a span {
	text-decoration: none;

	color: #cbd3df;
}

.blog-text .post-meta a i {
	color: #16d0c5;
}

.post-loadmore {
	width: 100%;
	border-radius: 0px;
}

.post-loadmore.site-btn.sb-gradients.sbg-line:after {
	border-radius: 0px;
}

.blog-page .blog-item {
	margin-bottom: 30px;
}

.blog-page .readmore {
	color: #20509e;
}

.blog-page .readmore i {
	color: #16d0c5;
}

.bi-feature .post-meta {
	margin-bottom: 30px;
}

.bi-feature .blog-text .blog-title {
	font-size: 36px;
}

.widget-area {

	box-sizing: border-box;

	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	margin-bottom: 32px;
}

.widget-area .widget-title {
	margin-bottom: 25px;
}

.widget-area .widget {
	margin-bottom: 20px;
}

.widget-area .widget .widget-title {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ebebeb;
	line-height: 24px;
}

.widget-area .widget ul {
	list-style: none;
}

.widget-area .widget ul a {
	display: inline-block;
	font-size: 16px;
	color: #20509e;
	margin-bottom: 20px;
}

.widget-area .widget ul a:hover {
	color: #16d0c5;
}

.widget-area .widget .popular-posts span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.widget-area .widget .popular-posts h5 a {
	font-size: 18px;
	color: #20509e;
}

.widget-area .widget .popular-posts h5 a:hover {
	color: #20509e;
}

.widget-area .widget .twitter-widget li {
	margin-bottom: 20px;
}

.widget-area .widget .twitter-widget span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	text-transform: uppercase;
}

.widget-area .widget .twitter-widget h5 {
	font-size: 18px;
	color: #20509e;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a {
	font-size: 18px;
	color: #1f6ae5;
	display: block;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a:hover {
	color: #1f6ae5;
}

.widget-area .widget-subscribe-from {
	padding-top: 10px;
	display: block;
}

.widget-area .widget-subscribe-from input {
	margin-right: 0;
	margin-bottom: 20px;
	width: 100%;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	padding: 15px 20px;
	font-size: 14px;
}

.comment-form-area {
	padding-top: 100px;
}

.single-blog-page blockquote {
	font-size: 24px;
	color: #20509e;
	padding-left: 25px;
	border-left: 2px solid #16d0c5;
	line-height: normal;
	margin: 40px 0;
	display: block;
	box-sizing: border-box;

}

.widget-subscribe-from {
	width: 80%;
}

.single-blog-page blockquote span {
	display: block;
	font-size: 16px;
	color: #16d0c5;
	padding-top: 10px;
}

.single-blog-page .post-tags a {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	padding: 6px 15px;
	margin-right: 2px;
	margin-top: 5px;
	color: #75849a;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	margin-right: 5px;
}

.single-blog-page .social-share {
	text-decoration: none;

	display: block;
	text-align: right;
}

.single-blog-page .social-share p {
	display: inline-block;
	text-decoration: none;

	font-size: 14px;
	margin-right: 10px;
	color: #595959;
}

.single-blog-page .social-share a {
	text-decoration: none;

	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 8px;
	text-align: center;
	border-radius: 40px;
	background: #f3f7f9;
	color: #75849a;
	padding-top: 9px;
	font-size: 14px;
	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	box-shadow: 0 0 0 1px #ebebeb;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.single-blog-page .social-share a:hover {
	text-decoration: none;

	color: #fff;
}

.releted-posts {
	text-decoration: none;

	box-sizing: border-box;

	padding-top: 50px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
}

.releted-posts .blog-item {
	text-decoration: none;

	padding-top: 25px;
}

.releted-posts .blog-text {
	text-decoration: none;

	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	box-shadow: 0 0 0 1px #ebebeb;
	padding: 28px 28px 20px;
}

.releted-posts .blog-text .blog-title {
	text-decoration: none;

	font-size: 22px;
}

.releted-posts .post-meta {
	margin-bottom: 0;
	text-decoration: none;

}

.comment-area {
	box-sizing: border-box;
	text-decoration: none;

	padding-top: 50px;
}

.comment-list {
	text-decoration: none;

	box-sizing: border-box;

	padding-top: 40px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
	list-style: none;
}

.comment-list .replay-comment-list {
	text-decoration: none;

	list-style: none;
	margin-left: 14%;
}

.comment {
	margin-bottom: 40px;
	text-decoration: none;

}

.comment .comment-avator {
	float: left;
	width: 70px;
	text-decoration: none;

	height: 70px;
	border-radius: 50%;
}

.comment .comment-content {
	padding-left: 100px;
	text-decoration: none;

}

.comment .comment-content h5 {
	font-size: 18px;
	text-decoration: none;

	margin-bottom: 10px;
}

.comment .comment-content h5 span {
	text-decoration: none;

	box-sizing: border-box;

	font-size: 12px;
	color: #acb9cc;
	font-family: "Lato", sans-serif;
}

.comment .comment-content p {
	text-decoration: none;

	margin-bottom: 0;
}

.comment .comment-content .c-btn {
	text-decoration: none;

	font-family: "Futura", sans-serif;
	display: inline-block;
	font-size: 14px;
	border: 1px solid #ebebeb;
	background: #f3f7f9;
	color: #20509e;
	padding: 4px 25px;
	border-radius: 2px;
	margin-right: 5px;
	margin-top: 20px;
}

.comment .comment-content .c-btn:hover {
	text-decoration: none;

	color: #fff;
}

.comment-form .form-group {
	text-decoration: none;

	box-sizing: border-box;

	position: relative;
	padding: 1px;
	margin-bottom: 20px;
}

.comment-form input,
.comment-form textarea {
	box-sizing: border-box;
	text-decoration: none;

	width: 100%;
	padding: 11px 20px;
	border: none;
	border: 1px solid #e5e5e5;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.comment-form input:focus,
.comment-form textarea:focus {
	border-color: transparent;
}

.comment-form input:focus+label,
.comment-form textarea:focus+label {
	opacity: 1;
}


html,
body {
	text-decoration: none;

	height: 100%;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-decoration: none;

	color: #20509e;
	margin: 0;
	font-weight: 500;
	font-family: "Futura", sans-serif;
}

h1 {
	text-decoration: none;

	font-size: 70px;
}

h2 {
	text-decoration: none;

	font-size: 48px;
}

h3 {
	text-decoration: none;

	font-size: 30px;
}

h4 {
	text-decoration: none;

	font-size: 24px;
}

h5 {
	text-decoration: none;

	font-size: 20px;
}

h6 {
	text-decoration: none;

	font-size: 14px;
}

p {
	text-decoration: none;

	font-size: 15.7px;
	color: #75849a;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	text-decoration: none;

	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	text-decoration: none;

	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/

.spad {
	padding-top: 100px;
	padding-bottom: 90px;
}

.section-title {
	text-decoration: none;

	margin-bottom: 60px;
}

.section-title h2 {
	text-decoration: none;

	margin-bottom: 20px;
}

.section-title p {
	text-decoration: none;

	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
	Commom elements
-----------------------*/

/* Buttons */

.site-btn {
	text-decoration: none;

	position: relative;
	display: inline-block;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	border-radius: 50px;
	font-family: "Futura", sans-serif;
	min-width: 170px;
	text-align: center;
	border: 2px solid #7ad4cc;
	cursor: pointer;
	color: #fff;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.no-radius {
	border-radius: 2px;
}

.site-btn.sb-full-- {
	display: block;
	width: 100%;
	border-radius: 0;
}

.site-btn.sb-gradients {
	padding: 17px 32px;
	border: none;
	color: #fff;
}

.site-btn.sb-gradients.sbg-line {
	color: #20509e;
	z-index: 1;
}

.site-btn.sb-gradients.sbg-line:after {
	position: absolute;
	content: '';
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #fff;
	top: 2px;
	left: 2px;
	z-index: -1;
	border-radius: 50px;
	color: #20509e;
	z-index: 1;
}

.site-btn.sb-gradients.sbg-line:hover {
	color: #20509e;
}

.gradient-bg,
.site-btn.sb-gradients,
.member-social a:hover,
.single-blog-page .social-share a:hover,
.comment .comment-content .c-btn:hover,
.comment-form label {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#3e2bce), color-stop(100%, #2dd3aa), color-stop(100%, #2dd3aa), to(#2dd3aa));
	background: -o-linear-gradient(left, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e2bce', endColorstr='#2dd3aa', GradientType=1);
	/* IE6-9 */
	text-decoration: none;

}

.blog-item {
	padding-right: 50px;
}

ul a {
	text-decoration: none;
}

.social-men {
	display: flex;
	list-style-type: none;
	position: relative;
	right: -70px;
}

.post-tags a {
	text-decoration: none;
}

.col-sm-5 {
	position: relative;
	left: 100px;
}

.col-sm-5 p {
	position: relative;
	left: -20px;
	top: -12px;
	color: red;
	font-size: larger;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.social-men i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-men i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	font-weight: 400;
}

.social-men a {
	text-decoration: none;
}

.fa-facebook {
	background: #3b5998
}

.fa-linkedin {
	background: #007bb6
}

.fa-twitter {
	background: #00aced
}

.fa-instagram {
	background: #3f729b
}

.fa-google {
	background: #f20606
}

.memberimg {
	width: 40%;
}